.btn {
  font-size: rem(20px);
  background-color: $btn-color;
  font-weight: 600;
  color: $white;
  cursor: pointer;
  display: inline-block;
  padding: rem(14px) rem(35px);
  text-align: center;
  width: 100%;
  border: 1px solid $btn-color;

  &:active,
  &:hover {
    background-color: $btn-hover;
    color: $white
  }

  &:focus {
    outline: rem(1px) solid $dark-gray;
  }

  @include susy-media(tablet) {
    width: auto;
  }

  &--transparent {
    background-color: transparent;
    border: rem(3px) solid $white;

    &:active,
    &:hover {
      border: rem(3px) solid $white;
    }
  }

  &--radius {
    border-radius: rem(50px);
  }

  &--small {
    padding: rem(5px) rem(17px);
  }

  &--large {
    min-width: rem(250px);
  }
}
