button,
input[type='submit'] {
  @extend .btn;
}

%form-text {
  border: rem(1px) solid $gray;
  color: $text-color;
  cursor: pointer;
  width: 100%;
  padding: rem(18px);

  &:focus-visible {
    outline: rem(1px) solid $link-color;
  }
}


// Input style
input[type="text"],
input[type="number"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="email"],
input[type="password"],
input[type="hidden"] {
  @extend %form-text;
}

.form-textarea,
textarea {
  @extend %form-text;
  min-height: rem(150px);
}

.form-item,
.form-actions {
  margin:rem(0 0 10px);
}

.form-item {
  &.form-type-checkbox,
  &.form-type-radio {
    margin-bottom: rem(8px);
  }
}

.form-checkbox,
.form-radio {
  &:focus-visible {
    outline: rem(1px) solid $primary-color;
  }
}

select {
  @extend %form-text;
  padding: rem(10px);
}
