button,
input[type='submit'] {
  @extend .btn;
}

%form-text {
  font-size: rem(14px);
  font-weight: 400;
  border: rem(1px) solid $gray;
  color: $text-color;
  appearance: none;
  border-radius: 0;
  box-shadow: inherit;
  box-sizing: border-box;
  letter-spacing: 0;
  cursor: pointer;
  line-height: 1.4;
  padding: rem(4px);
  margin: rem(2px) 0;
  width: 100%;

  &:active,
  &:focus,
  &:visited {
    border: rem(2px) solid $dark-gray;
  }
}


// Input style
input[type="text"],
input[type="number"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="email"],
input[type="password"],
input[type="hidden"] {
  @extend %form-text;
}

.form-textarea,
textarea {
  @extend %form-text;
  height: auto;
  min-height: rem(150px);
  resize: none;
}

.form-item,
.form-actions {
  margin:rem(0 0 26px);

  &.form-type-checkbox,
  &.form-type-radio {
    margin-bottom: rem(8px);
  }
}

select {
  @extend %form-text;
  padding: rem(16px);

  option {
    font-weight: 400;
    font-size: rem(12px);
    letter-spacing: 0;
    color: $text-color;
  }
}
