.text {
  &--white {
    color: $white;
  }

  &--blue {
    color: $primary-color;
  }

  &--dark-gray {
    color: $dark-gray;
  }

  &--bold {
    font-weight: 700;
  }

  &--semibold {
    font-weight: 600;
  }

  &--medium {
    font-weight: 500;
  }

  &--uppercase {
    text-transform: uppercase;
  }
}

.font {
  &--large {
    font-size: rem(19px);

    @include susy-media(tablet) {
      font-size: rem(24px);
    }
  }

  &--medium {
    font-size: rem(14px);

    @include susy-media(tablet) {
      font-size: rem(20px);
    }
  }

  &--small {
    font-size: rem(10px);

    @include susy-media(tablet) {
      font-size: rem(14px);
    }
  }

  &--gilroy {
    font-family: Gilroy;
  }

  &--italic {
    font-style: italic;
  }
}

.bg {
  &--dark-gray {
    background-color: $dark-gray;

    .link--arrow-right {
      color: $white;

      &:hover {
        color: #cccccc;
      }
    }
  }

  &--blue {
    background-color: darken(#3681D7, 20%);
  }

  &--light-gray {
    background-color: $light-gray;
  }
}

.hidden {
  &--desktop {
    display: block;

    @include susy-media(desktop) {
      display: none;
    }
  }
  &--mobile {
    display: none;
    
    @include susy-media(desktop) {
      display: inherit;
    }
  }
}
