@charset 'utf-8';
// ICONS.

%icons {
  @include iconmoon;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

[class^='icon-'],
[class*=' icon-'] {
  &:before {
    @extend %icons;
  }
}

.icon-left-arrow {
  &:before {
    content: $icon-left-arrow;
  }
}

.icon-right-arrow {
  &:before {
    content: $icon-right-arrow;
  }
}

.icon-read-more {
  &:before {
    content: $icon-read-more;
  }
}

.icon-star {
  &:before {
    content: $icon-star;
  }
}

.icon-check {
  &:before {
    content: $icon-check;
  }
}

.icon-read-more {
  &:before {
    content: $icon-read-more;
  }
}

.icon-search {
  &:before {
    content: $icon-search2;
  }
}

.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}

.icon-linkedin {
  &:before {
    content: $icon-linkedin;
  }
}

.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
