// Style table
table {
  margin-bottom: rem(15px);
  width: 100%;

  @media(min-width: $desktop) {
    min-width: 100%;
  }
}

td,
th {
  border: rem(1px) solid $dark-gray;
  min-width: rem(120px);
  padding: rem(10px 18px);
  vertical-align: top;
}

th {
  font-weight: 700;
}
