// TYPOGRAPHY
// Define all typographic styles in this file.

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  @include gilroy();
  color: $dark-gray;
}

h1,
.h1 {
  font-size: rem(49.5px);

  @include susy-media(tablet) {
    font-size: rem(54px)
  }
}

h2,
.h2 {
  font-size: rem(32px);

  @include susy-media(tablet) {
    font-size: rem(42px);
  }
}

h3,
.h3 {
  font-size: rem(18px);

  @include susy-media(tablet) {
    font-size: rem(26px);
  }
}

h4,
.h4 {
  font-size: rem(16px);

  @include susy-media(tablet) {
    font-size: rem(30px);
  }
}

h5,
.h5 {
  font-size: rem(14px);

  @include susy-media(tablet) {
    font-size: rem(26px);
  }
}

h6,
.h6 {
  font-size: rem(13px);

  @include susy-media(tablet) {
    font-size: rem(22px);
  }
}

// List
%list,
.list {
  &--ol {
    li {
      list-style-type: decimal;
    }
  }

  &--ul {
    li {
      position: relative;
      padding-left: rem(34px);
      margin-bottom: rem(13px);
      line-height: rem(30px);
  
      &:before{
        content:"";
        background: $text-color;
        width: rem(3px);
        height: rem(3px);
        top: rem(10px);
        position: absolute;
        left:0;
        display: inline-block;
        border-radius: 100%;
      }
    }
  }
}

.list-wrap {
  ul {
    @extend .list--ul;
  }
  ol {
    @extend .list--ol;
  }
}

// Link
%link {
  color: $primary-color;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: rem(17px);
  display: inline-block;

  &:hover,
  &:hover,
  &:focus {
    color: darken(#3681D7, 20%);
  }
}

a {
  @extend %link;
}

.link {
  @extend %link;

  &--arrow-right {
    &:after {
      @include iconmoon;
      content: $icon-right-arrow;
      position: relative;
      margin-left: rem(17px);
      font-size: rem(22px);
      font-weight: 600;
      color: $primary-color;
      vertical-align: middle
    }
  }

  &--arrow-left {
    font-size: rem(14px);

    &:before {
      @include iconmoon;
      content: $icon-left-arrow;
      font-size: rem(14px);
      margin-right: rem(10px);
      vertical-align: middle
    }
  }

  &--gray {
    color: $gray;

    &:hover {
      color: $primary-color;
    }
  }

  &--dark-gray {
    color: $dark-gray;

    &:hover {
      color: $primary-color;
    }
  }
}

.block-quote,
blockquote {
  @include libreBaskerville;

  &:before {
    @include iconmoon;
    content: $icon-quote;
    display: block;
    color: $light-blue;
    margin-bottom: rem(27px);
    font-style: normal;
  }
}

//Inline-element.
sub, sup {
  position: relative;
  font-size: .75em;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: rem(-5px);
}

sub {
  bottom: rem(-5px);
}

small {
  font-size: rem(14px);
}

abbr {
  text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none;
}

kbd {
  padding: rem(5px) rem(10px);
  color: $white;
  background-color: $black;
  border-radius: rem(5px);
}

q {
  quotes: unset;
  display: inline;
  &:before {
    content: open-quote;
  }
  &:after {
    content: close-quote;
  }
}

code,
samp  {
  font-family: monospace;
}
