@import '../../vendor/susy/susy';
@import '../imports/functions';
@import '../imports/colors';
@import '../imports/variables';
@import '../imports/mixins';
@import '../imports/icons-variables';

.footer {
  padding: rem(40px 0);

  @include susy-media(desktop) {
    padding: rem(60px 0);
  }
}

.footer-top {
  @include clearfix;

  &__item {
    @include susy-media(desktop) {
      float: left;
    }

    li {
      margin-bottom: rem(20px);
      font-size: rem(14px);
      margin-top: rem(15px);

      &:last-child() {
        margin-bottom: 0;
      }
    }

    @include susy-media(desktop) {
      width: span(2 of $susy-desktop);
      margin-right: gutter($susy-desktop);
  
      &:nth-child(6n + 6) {
        float: right;
        margin-right: 0;
      }
    }
  }
}

.footer-bottom {
  margin-top: rem(30px);

  &__legal {
    text-align: center;
    margin-bottom: rem(30px);

    @include susy-media(desktop) {
      @include clearfix;
      float: left;
    }

    li {
      display: inline;
      margin-right: rem(10px);
    }
  }

  &__copyright {
    text-align:center;

    @include susy-media(desktop) {
      text-align: right;
    }

    span {
      color: $text-color;
    }
  }
}
