<div class="list-wrap" style="padding: 50px">
  <ul style="margin-bottom: 30px">
    <li>The top predictors of DevOps success</li>
    <li>The surprising data risks faced by DevOps adopters</li>
    <li>Emerging tools for quickly creating production-like dev/test environments</li>
  </ul>
  <ol style="padding-left: 14px;">
    <li>The top predictors of DevOps success</li>
    <li>The surprising data risks faced by DevOps adopters</li>
    <li>Emerging tools for quickly creating production-like dev/test environments</li>
  </ol>
</div>
