<br>
<div>
<a class="btn font-semibold" href=""> Apply </a>
</div>
<br>
<br>
<div>
<a class="btn btn--radius btn--small font-semibold" href=""> Get a Demo </a>
</div>
<br>
<br>
<div>
<a class="btn btn--large font--large font-semibold" href=""> Contact Us </a>
</div>
<br>
<br>
<div class="bg--dark-gray font-semibold" style="padding: 20px;">
<a class="btn btn--large btn--transparent font--nor" href=""> Talk to an Expert </a>
</div>