<br>
<div>
<a class="btn" href=""> Apply </a>
</div>
<br>
<br>
<div>
<a class="btn btn--radius btn--small" href=""> Get a Demo </a>
</div>
<br>
<br>
<div>
<a class="btn btn--large font--large" href=""> Contact Us </a>
</div>
<br>
<br>
<div class="bg--dark-gray" style="padding: 20px;">
<a class="btn btn--large btn--transparent font--nor" href=""> Talk to an Expert </a>
</div>