<div class="form-item" style="padding: 0 50px">
    <p class="text-bold">Input</p>
    <input type="text" class="form-text">
</div>

<div class="form-item" style="padding: 0 50px">
    <p class="text-bold">Textarea</p>
    <textarea class="form-textarea"></textarea>
</div>