@charset "UTF-8";
.block-social {
  text-align: center; }
  @media (min-width: 64rem) {
    .block-social {
      text-align: inherit; } }
  .block-social a {
    margin: 0 1.25rem; }
    @media (min-width: 64rem) {
      .block-social a {
        margin-right: 2.1875rem;
        margin-left: 0; }
        .block-social a:last-child {
          margin-right: 0; } }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0 none;
  padding: 0;
  vertical-align: baseline; }

audio,
canvas,
video {
  display: inline-block; }

ol,
ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption,
th,
td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle; }

q,
blockquote {
  quotes: none; }

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: none; }

a img {
  border: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  display: block; }

img {
  font-size: 0;
  height: auto; }

img,
object,
embed {
  max-width: 100%; }

@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ProximaNova/ProximaNova-Bold.eot?") format("eot"), url("../fonts/ProximaNova/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype"), url('../fonts/ProximaNova/ProximaNova-Bold.svg#str-replace(ProximaNova, " ", "_")') format("svg"); }

@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/ProximaNova/ProximaNova-SemiBold.eot?") format("eot"), url("../fonts/ProximaNova/ProximaNova-SemiBold.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNova-SemiBold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-SemiBold.ttf") format("truetype"), url('../fonts/ProximaNova/ProximaNova-SemiBold.svg#str-replace(ProximaNova, " ", "_")') format("svg"); }

@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/ProximaNova/ProximaNova-Medium.eot?") format("eot"), url("../fonts/ProximaNova/ProximaNova-Medium.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNova-Medium.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Medium.ttf") format("truetype"), url('../fonts/ProximaNova/ProximaNova-Medium.svg#str-replace(ProximaNova, " ", "_")') format("svg"); }

@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot?") format("eot"), url("../fonts/ProximaNova/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype"), url('../fonts/ProximaNova/ProximaNova-Regular.svg#str-replace(ProximaNova, " ", "_")') format("svg"); }

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Gilroy/Gilroy-Black.eot?") format("eot"), url("../fonts/Gilroy/Gilroy-Black.woff2") format("woff2"), url("../fonts/Gilroy/Gilroy-Black.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Black.ttf") format("truetype"), url('../fonts/Gilroy/Gilroy-Black.svg#str-replace(Gilroy, " ", "_")') format("svg"); }

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Gilroy/Gilroy-Bold.eot?") format("eot"), url("../fonts/Gilroy/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Bold.ttf") format("truetype"), url('../fonts/Gilroy/Gilroy-Bold.svg#str-replace(Gilroy, " ", "_")') format("svg"); }

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Gilroy/Gilroy-SemiBold.eot?") format("eot"), url("../fonts/Gilroy/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/Gilroy/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-SemiBold.ttf") format("truetype"), url('../fonts/Gilroy/Gilroy-SemiBold.svg#str-replace(Gilroy, " ", "_")') format("svg"); }

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Gilroy/Gilroy-Medium.eot?") format("eot"), url("../fonts/Gilroy/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Medium.ttf") format("truetype"), url('../fonts/Gilroy/Gilroy-Medium.svg#str-replace(Gilroy, " ", "_")') format("svg"); }

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Gilroy/Gilroy-Regular.eot?") format("eot"), url("../fonts/Gilroy/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Regular.ttf") format("truetype"), url('../fonts/Gilroy/Gilroy-Regular.svg#str-replace(Gilroy, " ", "_")') format("svg"); }

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Gilroy/Gilroy-Light.eot?") format("eot"), url("../fonts/Gilroy/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Light.ttf") format("truetype"), url('../fonts/Gilroy/Gilroy-Light.svg#str-replace(Gilroy, " ", "_")') format("svg"); }

@font-face {
  font-family: "LibreBaskerville";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/LibreBaskerville/LibreBaskerville-Italic.eot?") format("eot"), url("../fonts/LibreBaskerville/LibreBaskerville-Italic.woff2") format("woff2"), url("../fonts/LibreBaskerville/LibreBaskerville-Italic.woff") format("woff"), url("../fonts/LibreBaskerville/LibreBaskerville-Italic.ttf") format("truetype"), url('../fonts/LibreBaskerville/LibreBaskerville-Italic.svg#str-replace(LibreBaskerville, " ", "_")') format("svg"); }

@font-face {
  font-family: "iconmoon";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Iconmoon/iconmoon.eot?") format("eot"), url("../fonts/Iconmoon/iconmoon.woff2") format("woff2"), url("../fonts/Iconmoon/iconmoon.woff") format("woff"), url("../fonts/Iconmoon/iconmoon.ttf") format("truetype"), url('../fonts/Iconmoon/iconmoon.svg#str-replace(iconmoon, " ", "_")') format("svg"); }

.container {
  max-width: 100%;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(38, 38, 38, 0.25) 88.88889%, transparent 88.88889%);
  background-size: 25.71429%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 48rem) {
    .container {
      max-width: 100%;
      margin-left: 1.25rem;
      margin-right: 1.25rem;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(38, 38, 38, 0.25) 67.74194%, transparent 67.74194%);
      background-size: 13.02521%;
      background-origin: content-box;
      background-clip: content-box;
      background-position: left top; }
      .container:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 64rem) {
    .container {
      max-width: 100%;
      margin-left: 4.125rem;
      margin-right: 4.125rem;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(38, 38, 38, 0.25) 60.78431%, transparent 60.78431%);
      background-size: 8.61486%;
      background-origin: content-box;
      background-clip: content-box;
      background-position: left top; }
      .container:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 80rem) {
    .container {
      max-width: 1176px;
      margin-left: auto;
      margin-right: auto;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(38, 38, 38, 0.25) 60%, transparent 60%);
      background-size: 8.62069%;
      background-origin: content-box;
      background-clip: content-box;
      background-position: left top; }
      .container:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 64rem) {
    .container--large {
      max-width: 100%;
      margin-left: 1.875rem;
      margin-right: 1.875rem;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(38, 38, 38, 0.25) 60.78431%, transparent 60.78431%);
      background-size: 8.61486%;
      background-origin: content-box;
      background-clip: content-box;
      background-position: left top; }
      .container--large:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 100rem) {
    .container--large {
      max-width: 1440px;
      margin-left: auto;
      margin-right: auto;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(38, 38, 38, 0.25) 60%, transparent 60%);
      background-size: 8.62069%;
      background-origin: content-box;
      background-clip: content-box;
      background-position: left top; }
      .container--large:after {
        content: " ";
        display: block;
        clear: both; } }

[class^='icon-']:before,
[class*=' icon-']:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'iconmoon';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1; }

.icon-left-arrow:before {
  content: ""; }

.icon-right-arrow:before {
  content: ""; }

.icon-read-more:before {
  content: ""; }

.icon-star:before {
  content: ""; }

.icon-check:before {
  content: ""; }

.icon-read-more:before {
  content: ""; }

.icon-search:before {
  content: ""; }

.icon-facebook:before {
  content: ""; }

.icon-linkedin:before {
  content: ""; }

.icon-twitter:before {
  content: ""; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-family: "Gilroy", sans-serif;
  color: #2d2d2d; }

h1,
.h1 {
  font-size: 1.9375rem;
  line-height: 1.3; }
  @media (min-width: 48rem) {
    h1,
    .h1 {
      font-size: 3.375rem; } }

h2,
.h2 {
  font-size: 2rem; }
  @media (min-width: 48rem) {
    h2,
    .h2 {
      font-size: 2.5rem; } }

h3,
.h3 {
  font-size: 1.75rem; }
  @media (min-width: 48rem) {
    h3,
    .h3 {
      font-size: 2.25rem; } }

h4,
.h4 {
  font-size: 1.625rem; }
  @media (min-width: 48rem) {
    h4,
    .h4 {
      font-size: 2rem; } }

h5,
.h5 {
  font-size: 1.375rem; }
  @media (min-width: 48rem) {
    h5,
    .h5 {
      font-size: 1.75rem; } }

h6,
.h6 {
  font-size: 1.25rem; }
  @media (min-width: 48rem) {
    h6,
    .h6 {
      font-size: 1.5rem; } }


.list--ul li, .list-wrap ul li {
  position: relative;
  padding-left: 2.125rem;
  margin-bottom: 0.8125rem;
  line-height: 1.875rem; }
  
  .list--ul li:before, .list-wrap ul li:before {
    content: "";
    background: #727272;
    width: 0.1875rem;
    height: 0.1875rem;
    top: 0.625rem;
    position: absolute;
    left: 0;
    display: inline-block;
    border-radius: 100%; }


.list--ol li, .list-wrap ol li {
  list-style-type: decimal;
  padding-left: 0.9375rem;
  margin-bottom: 0.625rem; }

a, .link {
  color: #3681D7;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 1.0625rem;
  display: inline-block; }
  a:hover, .link:hover, a:active, .link:active {
    color: #1c508b; }
  a:focus, .link:focus {
    outline: 0.0625rem solid #3681D7; }

.link--arrow-right:after {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'iconmoon';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
  content: "";
  margin-left: 1.0625rem;
  vertical-align: middle; }

.link--arrow-left {
  font-size: 0.875rem; }
  .link--arrow-left:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'iconmoon';
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-transform: none;
    content: "";
    margin-right: 0.625rem;
    vertical-align: middle; }

.link--gray {
  color: #727272; }
  .link--gray:hover {
    color: #3681D7; }
  .link--gray a {
    color: #727272; }
    .link--gray a:hover {
      color: #3681D7; }

.link--dark-gray {
  color: #2d2d2d; }
  .link--dark-gray:hover {
    color: #3681D7; }

.link--blue {
  color: #3681D7; }

.link--white {
  color: #fff; }
  .link--white:hover {
    color: #727272; }

.block-quote,
blockquote {
  font-family: "LibreBaskerville", sans-serif;
  font-style: italic;
  font-size: 1.5625rem;
  display: block; }
  @media (min-width: 48rem) {
    .block-quote,
    blockquote {
      font-size: 2rem; } }
  .block-quote:before,
  blockquote:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'iconmoon';
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-transform: none;
    content: "";
    color: #6ED7F5;
    margin-bottom: 1.6875rem;
    font-size: 1.125rem; }

sub, sup {
  position: relative;
  font-size: .75em;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -0.3125rem; }

sub {
  bottom: -0.3125rem; }

small {
  font-size: 0.875rem; }

abbr {
  text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none; }

kbd {
  padding: 0.3125rem 0.625rem;
  color: #fff;
  background-color: #000;
  border-radius: 0.3125rem; }

q {
  quotes: unset;
  display: inline; }
  q:before {
    content: open-quote; }
  q:after {
    content: close-quote; }

code,
samp {
  font-family: monospace; }

.btn, button,
input[type='submit'] {
  font-size: 1.25rem;
  background-color: #3681D7;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 0.875rem 2.1875rem;
  text-align: center;
  width: 100%;
  border: 1px solid #3681D7; }
  .btn:active, button:active,
  input[type='submit']:active, .btn:hover, button:hover,
  input[type='submit']:hover {
    background-color: #1c508b;
    color: #fff; }
  .btn:focus, button:focus,
  input[type='submit']:focus {
    outline: 0.0625rem solid #3681D7; }
  @media (min-width: 48rem) {
    .btn, button,
    input[type='submit'] {
      width: auto; } }
  .btn--transparent {
    background-color: transparent;
    border: 0.1875rem solid #fff; }
    .btn--transparent:active, .btn--transparent:hover {
      border: 0.1875rem solid #fff; }
  .btn--radius {
    border-radius: 3.125rem; }
  .btn--small {
    padding: 0.3125rem 1.0625rem; }
  .btn--large {
    min-width: 15.625rem; }

input[type="text"],
input[type="number"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="email"],
input[type="password"],
input[type="hidden"], .form-textarea,
textarea, select {
  border: 0.0625rem solid #727272;
  color: #727272;
  cursor: pointer;
  width: 100%;
  padding: 1.125rem; }
  input[type="text"]:focus-visible,
  input[type="number"]:focus-visible,
  input[type="tel"]:focus-visible,
  input[type="url"]:focus-visible,
  input[type="search"]:focus-visible,
  input[type="email"]:focus-visible,
  input[type="password"]:focus-visible,
  input[type="hidden"]:focus-visible, .form-textarea:focus-visible,
  textarea:focus-visible, select:focus-visible {
    outline: 0.0625rem solid #3681D7; }

.form-textarea,
textarea {
  min-height: 9.375rem; }

.form-item,
.form-actions {
  margin: 0rem 0rem 0.625rem; }

.form-item.form-type-checkbox, .form-item.form-type-radio {
  margin-bottom: 0.5rem; }

.form-checkbox:focus-visible,
.form-radio:focus-visible {
  outline: 0.0625rem solid #3681D7; }

select {
  padding: 0.625rem; }

table {
  margin-bottom: 0.9375rem;
  width: 100%; }
  @media (min-width: 1024px) {
    table {
      min-width: 100%; } }

td,
th {
  border: 0.0625rem solid #2d2d2d;
  min-width: 7.5rem;
  padding: 0.625rem 1.125rem;
  vertical-align: top; }

th {
  font-weight: 700; }

.text--white {
  color: #fff; }

.text--blue {
  color: #3681D7; }

.text--dark-gray {
  color: #2d2d2d; }

.text--bold {
  font-weight: 700; }

.text--semibold {
  font-weight: 600; }

.text--medium {
  font-weight: 500; }

.text--uppercase {
  text-transform: uppercase; }

.font--large {
  font-size: 1.1875rem; }
  @media (min-width: 48rem) {
    .font--large {
      font-size: 1.5rem; } }

.font--medium {
  font-size: 0.875rem; }
  @media (min-width: 48rem) {
    .font--medium {
      font-size: 1.25rem; } }

.font--small {
  font-size: 0.625rem; }
  @media (min-width: 48rem) {
    .font--small {
      font-size: 0.875rem; } }

.font--gilroy {
  font-family: Gilroy; }

.font--italic {
  font-style: italic; }

.bg--dark-gray {
  background-color: #2d2d2d; }
  .bg--dark-gray .link--arrow-right {
    color: #fff; }
    .bg--dark-gray .link--arrow-right:hover {
      color: #cccccc; }

.bg--blue {
  background-color: #1c508b; }

.bg--light-gray {
  background-color: #f6f6f6; }

.hidden--desktop {
  display: block; }
  @media (min-width: 64rem) {
    .hidden--desktop {
      display: none; } }

.hidden--mobile {
  display: none; }
  @media (min-width: 64rem) {
    .hidden--mobile {
      display: inherit; } }

@viewport {
  zoom: 1;
  width: extend-to-zoom; }

@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1; }

html {
  font-family: "ProximaNova", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #727272; }

body {
  font-size: 1rem; }
  body:after {
    background-color: rgba(174, 201, 222, 0.75);
    border-radius: 20px;
    bottom: 1.25rem;
    box-shadow: 0 1px 10px #727272;
    color: #000;
    content: 'Mobile';
    display: block;
    font-size: 1rem;
    padding: 0.3125rem 0.625rem;
    position: fixed;
    right: 1.25rem;
    z-index: 1000; }
    @media (min-width: 48rem) {
      body:after {
        content: 'Tablet' !important; } }
    @media (min-width: 64rem) {
      body:after {
        content: 'Small desktop' !important; } }
  @media (min-width: 48rem) {
    body {
      font-size: 1.125rem; } }

.header__top {
  padding: 1.25rem 0;
  background-color: #eee; }

.header .menu-top {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .header .menu-top li {
    padding: 0 0.9375rem; }
    .header .menu-top li:last-child {
      padding: 0 0 0 0.9375rem; }
  .header .menu-top a {
    color: #727272; }

.header__wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.header__logo {
  width: 20%; }

@media (min-width: 64rem) {
  .header .main-menu {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 60%;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; } }

.header .main-menu li a {
  margin-bottom: 1.25rem;
  color: #727272; }
  @media (min-width: 64rem) {
    .header .main-menu li a {
      padding-right: 3.75rem;
      font-size: 1.25rem;
      margin-bottom: 0; } }

.header .main-menu li:last-child a {
  padding-right: 0; }

.header__hamburger {
  position: relative;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer; }
  .header__hamburger .black-line {
    position: absolute;
    top: 0.75rem;
    left: 50%;
    width: 1.5625rem;
    border-bottom: 0.125rem solid #000;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s; }
    .header__hamburger .black-line:nth-of-type(2) {
      top: 1.25rem; }
    .header__hamburger .black-line:nth-of-type(3) {
      top: 1.75rem; }

.header__button {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 20%;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.header .icon-search {
  padding-left: 1.25rem; }
  .header .icon-search span {
    display: none; }

.header .container {
  background-image: none !important; }

.footer {
  padding: 2.5rem 0rem; }
  @media (min-width: 64rem) {
    .footer {
      padding: 3.75rem 0rem; } }

.footer-top:before, .footer-top:after {
  content: '';
  display: table; }

.footer-top:after {
  clear: both; }

@media (min-width: 64rem) {
  .footer-top__item {
    float: left; } }

.footer-top__item li {
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
  margin-top: 0.9375rem; }
  .footer-top__item li:last-child {
    margin-bottom: 0; }

@media (min-width: 64rem) {
  .footer-top__item {
    width: 13.85135%;
    margin-right: 3.37838%; }
    .footer-top__item:nth-child(6n + 6) {
      float: right;
      margin-right: 0; } }

.footer-bottom {
  margin-top: 1.875rem; }
  .footer-bottom__legal {
    text-align: center;
    margin-bottom: 1.875rem; }
    @media (min-width: 64rem) {
      .footer-bottom__legal {
        float: left; }
        .footer-bottom__legal:before, .footer-bottom__legal:after {
          content: '';
          display: table; }
        .footer-bottom__legal:after {
          clear: both; } }
    .footer-bottom__legal li {
      display: inline;
      margin-right: 0.625rem; }
  .footer-bottom__copyright {
    text-align: center; }
    @media (min-width: 64rem) {
      .footer-bottom__copyright {
        text-align: right; } }
    .footer-bottom__copyright span {
      color: #727272; }
