<br>
<div>
<a class="btn btn--radius btn--small font--nor" href=""> Get a Demo </a>
</div>
<br>
<br>
<div>
<a class="btn btn--large font--large" href=""> Contact Us </a>
</div>
<br>
<br>
<div class="bg--blue" style="padding: 20px;">
<a class="btn btn--large btn--transparent font--nor" href=""> Talk to an Expert </a>
</div>