<a class="link" href="#">Don't see your industry, click here</a>
<br>
<br>
<a class="link link--arrow-right" href="#">Don't see your industry, click here</a>
<br>
<br>
<a class="link link--arrow-left" href="#">BACK TO ALL CARRERS</a>
<br>
<br>
<p class="bg--dark-gray" style="padding: 20px;"><a class="link link--arrow-right" href="#">Learn more</a></p>
<br>
<br>
<a class="link link--arrow-right link--dark-gray" href="#">Depart to Heakthcare & insurance</a>